:root {
  --border-color: #c9c6c6;
  --black-color: #000;
  --main-color: #0072e5;
  --message-background-color: #d8e5f3;
  --comment-text-color: #666;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ededee;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

li, p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
}
